:root {
    /* Fonts */
    --regular: "Arial";

    /* Colors */
    --dark-red: #ff000051;
    --light-red: #ff5f5f;

    --purple: purple;
    --pink: pink;

    --sky-blue: rgb(173, 232, 255);
    --night-blue: rgb(0, 0, 88);

    --orange-yellow: rgb(255, 191, 0);
    --bright-yellow: rgb(255, 252, 152);
    

    
    /* spacing */
    --big-box: 50px;
    --small-box: 20px;

    /* borders */
    --big-border: 10px;
    --small-border: 3px;
    
    /*width*/
    --half: 50%;
    --quarter: 25%;
}

/*usage*/
h1 {
    font-family: var(--regular);
    color: var(--light-red);
    padding: var(--big-box);
    background-color: var(--dark-red);
    border: var(--big-border) solid var(--sky-blue);
    width: var(--half);
    margin: auto;

}

h2 {
    font-family: var(--regular);
    color: var(--sky-blue);
    padding: var(--small-box);
    background-color: var(--night-blue);
    border: var(--big-border) solid var(--pink);
    width: var(--quarter);
    margin: auto;
}

.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
}

#yellowbox {
    width: 100px;
    height: 200px;
    color: black;
    padding:50px;
    margin:100px;
    font-size:20px;
    background-color: #FF0;
    display: inline-block;
}

a {color:aquamarine}

.cascading-parent h2{
    font-weight: bold;
    font-size: 50px;
    color: #FF0;
}

.cascading-child {
    background-color: blue;
    color:rgb(249, 12, 186) !important;
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;

}

.cascading-parent a{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
    background-color: blue;
    padding:30px;
    margin-top: 200px;
    margin-bottom: 20px;
}

.font {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: pink;
    text-transform: uppercase;
}

.square {
    width: 50%;
    background-color: blue;
    border: 10px solid pink;
}

.space {
    padding: 50px;
    margin: auto;
}

a:link {
    color:pink;
    background-color: aliceblue;
    width:50%;
    padding:auto

}
a:visited{
    color:#FF0;
    background-color: black;
    
}

a:hover {
    color: white;
    background-color: blue;
    width: 50%;
}
a:active {
    color:blue;
    background-color: white;
    font-size:50px;
}


.button-container {
    width: 200px;
    padding:10px;
    margin:100px;
    color: #fff;
    background-color: #F00;

    /*rounding corners*/
    border-radius: 10px;

    /*shadow generator*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);

    /*no underline*/
    text-decoration: none;

    /*transition*/
    transition: all 0.5s ease;
}

.button-container a:hover {
    background-color: #AF1F16;
    /*no underline*/
    text-decoration: none;
}

.button2 {
    width: 100px;
    margin: 100px;
    
}

.button2 a {
    font-size: 32px;
    padding: var(--big-box);
    color: var(--bright-yellow);
    background-color: var(--orange-yellow);
    text-align: center;
    border-radius: 20px;

    /*shadow*/  
    -webkit-box-shadow: 0px 0px 70px 15px rgba(0,51,255,1);
    -moz-box-shadow: 0px 0px 70px 15px rgba(0,51,255,1);
    box-shadow: 0px 0px 70px 15px rgba(0,51,255,1);

    /*no underline*/
    text-decoration: none;
}

.button2 a:hover {
    background-color: var(--sky-blue);
    color: var(--night-blue);
}

.button3 {
    width:200px;
    margin-top:200px;
    margin-left: 100px;

}

.button3 a {
    font-size: 32px;
    padding: var(--big-box);
    color: var(--bright-yellow);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(171,80,169,1) 48%, rgba(252,70,107,1) 88%);
    text-align: center;
    border-radius: 20px;

    /*shadow*/  
    -webkit-box-shadow: 0px 0px 70px 15px rgba(0,51,255,1);
    -moz-box-shadow: 0px 0px 70px 15px rgba(0,51,255,1);
    box-shadow: 0px 0px 70px 15px rgba(0,51,255,1);

    /*no underline*/
    text-decoration: none;
    
}

.button3 a:hover {
    background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(171,80,169,1) 48%,  rgba(63,94,251,1) 88%);
    color: var(--night-blue);
    /*shadow*/  
    -webkit-box-shadow: 0px 0px 70px 15px rgba(252,70,107,1);
    -moz-box-shadow: 0px 0px 70px 15px rgba(252,70,107,1);
    box-shadow: 0px 0px 70px 15px rgba(252,70,107,1);
}