.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
}

#yellowbox {
    width: 100px;
    height: 200px;
    color: black;
    padding:50px;
    margin:100px;
    font-size:20px;
    background-color: #FF0;
    display: inline-block;
}

a {color:aquamarine}

.cascading-parent h2{
    font-weight: bold;
    font-size: 50px;
    color: #FF0;
}

.cascading-child {
    background-color: blue;
    color:rgb(249, 12, 186) !important;
    width: 50px;
    height: 50px;
    padding: 50px;
    margin: 50px;

}

.cascading-parent a{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #FFF;
    background-color: blue;
    padding:30px;
    margin-top: 200px;
    margin-bottom: 20px;
}